.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery-image {
    max-width: 100%;
    max-height: 360px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}