.logo {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    margin-left: 40px;
}

/* Apply flexbox to align items horizontally */
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    /* Adjust the color as needed */
}

/* Adjust margin between icon and text */
.nav-link .material-icons {
    margin-right: 5px;
    /* Adjust spacing as needed */
    font-size: 20px;
    /* Adjust font size as needed */
}

/* Style the text */
.nav-text {
    font-size: 17px;
    /* Adjust font size as needed */
}

section.header {
    height: 140px;
}