<section class="header">
    <div class="container">
        <header>
            <nav class="navbar">
                <a href="/">
                    <img src="assets/logo1.png" alt="Logo" />
                </a>
                <ul class="nav-menu">
                    <li class="nav-link">
                        <a href="#">Create Ad</a>
                    </li>
                    
                    <li class="nav-link">
                        
                        <!-- <a href="#"><span class="material-icons">search</span><span class="nav-text">Search</span></a> -->
                        <a href="#"><app-search-box></app-search-box></a>
                        
                    </li>
                    <li class="nav-link">
                        <a href="#">Favourites</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Account<span class="material-icons">people</span></a>
                    </li>
                    <li class="nav-link">
                        <a href="#">DE</a>
                        <span class="fi fi-de"></span>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</section>