@import "../node_modules/flag-icons/css/flag-icons.min.css";
@import "../node_modules/material-icons/iconfont/material-icons.css";
@import '../node_modules/normalize.css/normalize.css';

@import "./styles/variables.scss";
@import "./styles/buttons.scss";

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

/* alkatra-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alkatra';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/alkatra-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Remove default blue color from links */
a {
  color: inherit;
  /* Inherit color from parent */
  text-decoration: none;
  /* Remove underline */
}

/* Remove default bullets from list items */
ul {
  list-style: none;
  /* Remove default bullets */
  padding-left: 0;
  /* Remove left padding */
}

img,
a {
  border: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}